*{
    background: rgb(26, 26, 59);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    display: none;
}

#form1{
    height: 200px;
    width: 400px;
    background: rgb(61, 61, 186);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1{
    text-align: center;
    background: rgb(61, 61, 186);
}

#input1{
    height: 50px;
    width: 300px;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: large;
}

#btn1{
    background: rgb(126, 109, 151);
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: large;
}

#form2{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(86, 86, 96, 0.58);
    padding: 5px;
    display: flex;
    height: 50px;
    align-items: center;
}

#name{
    height: 35px;
    background: rgb(126, 109, 151);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

#input2{
    height: 35px;
    background: rgb(28, 28, 28);
    border-radius: 30px;
    border: none;
    margin: 5px;
    padding: 0 25px;
    display: flex;
    width: 100%;
    color: white;
}

#btn2{
    background: rgb(126, 109, 151);
    border: none;
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}

.messages{
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages > li{
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 10px;
}
.messages > li > span{
    font-weight: 500;
}
.messages > li:nth-child(odd){
    background: rgb(126, 109, 151);
}
.messages > li:nth-child(even){
    background: rgba(86, 86, 96, 0.58);
}